{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<h1 class="text-center">Login</h1>
<br>
<div class="row d-flex justify-content-center">
  <!--Grid column-->
  <div class="col-sm-11 col-md-7 col-lg-9">
    <div class="d-flex align-content-center flex-wrap">
  <div class="card card-body border border-dark">
    <form method="POST">
      {% csrf_token %} {{ form |crispy }}
      <div class="d-inline-block py-3">
        <button type="submit" class="margin-bottom btn btn-primary me-2 py-1">
          Login
        </button>
      </div>
    </form>
  </div>
</div>

  </div>
  <!--Grid column-->
</div>


{% endblock %}
