{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %} 
{%load custom_tags %} {% load static %}
<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="card card-body border border-dark" style='margin-bottom: 15px;'>
          <h3 class="card-text text-center">{{user.username}}'s Profile</h3>
          <hr>
          <p class="card-text profile-text">Username : {{user.username}}</p>
          <p class="card-text profile-text">Email : {{user.email}}</p>
          <p class="card-text profile-text">First Name : {{user.first_name}}</p>
          <p class="card-text profile-text">Last Name : {{user.last_name}}</p>
          <p class="card-text profile-text">Blood Type : {{user.donor.blood_type}}</p>
          <p class="card-text profile-text">Date of Birth : {{user.donor.date_of_birth |date:"d M Y"}}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-3">
        <div class="row">
          {% if request_donor %}
          <div class="col-md-12 col-sm-6">
            <div class="card card-body border border-dark" style='margin-bottom: 15px;'>
              <h4>Requested</h4>
              <hr>
              <p class="card-text profile-text">Blood Type : {{request_donor.blood_type}}</p>
              <p class="card-text profile-text">Location : {{request_donor.location}}</p>
              <p class="card-text profile-text">Status : {{request_donor.request_status}}</p>
            </div>
          </div>
          {% endif %}
          {% if accept_donor %}
          <div class="col-md-12 col-sm-6">
            <div class="card card-body border border-dark" style='margin-bottom: 15px;'>
              <h4>Donating to</h4>
              <hr>
              <p class="card-text profile-text">First Name : {{accept_donor.donor_request.donor.user.first_name}}</p>
              <p class="card-text profile-text">Last Name : {{accept_donor.donor_request.donor.user.last_name}}</p>
              <p class="card-text profile-text">Requested blood type : {{accept_donor.donor_request.blood_type}}</p>
              <p class="card-text profile-text">Requested on : {{accept_donor.donor_request.date}}</p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    
    </div>
  </div>
  
<div class="container">
    <hr />
    <div class="row">
        {% if records %} {% for request in records %}
        <div class="col-lg-4 col-md-6">
            <div class="card card-body border border-dark" style = 'margin-bottom: 15px;'>
                <p class = "card-text profile-text">First Name : {{request.donor.user.first_name}}</p>
                <p class = "card-text profile-text">Last Name : {{request.donor.user.last_name}}</p>
                <p class = "card-text profile-text">Requested Blood Type : {{request.blood_type}}</p>
                <div class="accordion accordion-borderless" id="accordionFlushExampleX{{donor.slug}}">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwoX{{request.donor.slug}}1">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                          data-mdb-target="#abcd{{request.donor.slug}}1" aria-expanded="false"
                          aria-controls="abcd{{request.donor.slug}}1">
                          Details
                        </button>
                      </h2>
                      <div id="abcd{{request.donor.slug}}1" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwoX{{request.donor.slug}}1"
                        data-mdb-parent="#accordionFlushExampleX{{request.donor.slug}}">
                        <div class="accordion-body">
                            <p class = "card-text profile-text">Hospital Location : {{request.location}}</p>
                            <p class = "card-text profile-text">Requirements : {{ request.requirements }}</p>
                            <p class = "card-text profile-text">Requested on : {{ request.date }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="d-inline-block">
                    <a
                      class="btn btn-primary"
                      href="{% url 'accept_request' request.donor.slug %}"
                      style="margin-bottom: 5px">Donate </a>
                  </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <h3 class="text-center">No Records Found !!!</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
