{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
{%load custom_tags %} {% load static %}
<div class="container">
  <h1 class = "text-center">Available Request</h1>
  <hr />
  <div class="row"> {% if filter.qs %} {% for request in filter.qs %}
  <div class="col-lg-4 col-md-6">
    <div class="card card-body border border-dark" style="margin-bottom: 15px">
      <p class="card-text profile-text">
          Username : {{request.donor.user.first_name}} {{request.donor.user.last_name}}
      </p>
      <p class="card-text profile-text">
        Requested Blood Type :
        <span class="badge rounded-pill text-bg-danger">{{request.blood_type}}</span>
      </p>
      <p class="card-text profile-text">
        Required By : {{request.required_by|date:'d M Y'}}
      </p>
      <div
        class="accordion accordion-borderless"
        id="accordionFlushExampleX{{donor.slug}}"
      >
        <div class="accordion-item">
          <h2
            class="accordion-header"
            id="flush-headingTwoX{{request.donor.slug}}1"
          >
            <button
              class="accordion-button collapsed"
              type="button"
              data-mdb-toggle="collapse"
              data-mdb-target="#abcd{{request.donor.slug}}1"
              aria-expanded="false"
              aria-controls="abcd{{request.donor.slug}}1"
            >
              Details
            </button>
          </h2>
          <div
            id="abcd{{request.donor.slug}}1"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwoX{{request.donor.slug}}1"
            data-mdb-parent="#accordionFlushExampleX{{request.donor.slug}}"
          >
            <div class="accordion-body">
              <p class="card-text profile-text">
                Hospital Location : {{request.location}}
              </p>
              <p class="card-text profile-text">
                Requirements : {{ request.requirements }}
              </p>
              <p class="card-text profile-text">
                Requested on : {{ request.date_requested|date:"d M, Y" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="d-inline-block">
        <a class="btn btn-primary" href="{% url 'accept_donation_request' request.slug %}" style="margin-bottom: 5px"
          >Donate
        </a>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
  <h3 class="text-center">No Records Found !!!</h3>
  {% endif %}
</div>
{% endblock %}
